@*@model List<AAO.Common.BCSCSelfAssessment.QuestionDetails>*@
@{
    ViewBag.Title = "AdminIncorrectQuestionDetails";
}

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.ui.touch-punch.js"></script>

<a href="javascript:void(0)" class="list-group-item active" style="display:none"></a>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li class="active">
                    <a href="@Url.Content("~/AggregateUserPerformance/Index")">Reports </a>

                    <span>/ Section @ViewBag.SubSpecialityNumber</span>
                    <span> : @ViewBag.SubSpeciality  </span>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="view-assessment-details">
    <div class="col-lg-12">
        <div class="content-bg">
            <div class="content-padding">

                <div id="displayCount" class="pull-left padtop5">
                    @*Displaying questions 10 of @ViewBag.incorrectQuestiondetailscount*@
                </div>

                <div class="filter-container">
                    <div class="flex-unit">
                        <div class="pull-left padright15 xs-width sm-width padtop5">Expand all</div>
                        <div class="pull-left padtop5">
                            <div class="toggle-switch">
                                <input type="checkbox" name="toggle_switch3" class="toggle-switch-checkbox" id="toggle_switch3">
                                <label class="toggle-switch-label" for="toggle_switch3">
                                    <span class="toggle-switch-inner"></span>
                                    <span class="toggle-switch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="flex-unit">
                        <div class="pull-left padright15 xs-width sm-width padtop5">Questions view</div>
                        <div class="pull-left">
                            <select id="QuestView" class="form-control">
                                <option value="10" selected>10 per page</option>
                                <option value="20">20 per page</option>
                                <option value="30">30 per page</option>
                                <option value="50">50 per page</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="clearfix">
                </div>

                @if (ViewBag.incorrectQuestiondetailscount > 0)
                {
                    <div id="details">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <!-- Panel-1 -->
                            <!--  Accordian -->
                            @{ var count = 1;
                                var optionVal = 'A';


                                foreach (var item in ViewBag.incorrectQuestiondetailsdata)
                                {

                                    optionVal = 'A';
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="@(item.questionId + "headingOne")">
                                            <div class="panel-title view-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@(item.questionId + "collapseOne")" aria-expanded="true" aria-controls="@(item.questionId +"collapseOne")">
                                                    <div id="#quesText" class="question pad15 panel-bg-white padleft80">
                                                        <li class="question-number-view-exam-details">

                                                            @if (Convert.ToInt32(@item.rightChoiceId) == Convert.ToInt32(@item.examAttemptAnswerDTO.ChoiceId))
                                                            {
                                                                <i class="fa fa-lg fa-check padright10 font-green"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-lg fa-times padright10 font-red"></i>
                                                            }

                                                            @item.serialNumber.
                                                        </li>

                                                        <div id="quesTextDiv@(item.questionId)">@Html.Raw(item.questionText)</div>



                                                    </div>
                                                    @{count = count + 1;}
                                                    <div class="respondents peer-comparison-bg">
                                                        <div id="peerPercentage">
                                                            @foreach (var item1 in @item.PeerDetails)
                                                            {
                                                                if (Convert.ToInt32(@item1.IsRightChoice) == 1)
                                                                {
                                                                    @item1.ChoicePercentage
                                                                }

                                                            }% of respondents answer correctly.
                                                        </div>
                                                        <div id="percentage">
                                                            @foreach (var option in @item.PeerDetails)
                                                            {
                                                                <div class="col-xs-12 hidden-lg hidden-md xs-flex-comparison-score">
                                                                    <li id="PeerDetailsLiId@(option.ChoiceId)" class="PeerDetailsClass"> @option.ChoiceOption . @option.ChoicePercentage%</li>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div id="@(item.questionId + "collapseOne")" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@(item.questionId + "headingOne")" aria-expanded="false">
                                            <div class="panel-body">

                                                <div id="choices">
                                                    @foreach (var item2 in @item.choiceList)
                                                    {
                                                        //Modified below Condition for HG-459
                                                        if (Convert.ToInt32(@item.rightChoiceId) == Convert.ToInt32(@item2.choiceId))// && Convert.ToInt32(@item.examAttemptAnswerDTO.ChoiceId) > 0)
                                                        {
                                                            <div id="choiceText@(@item2.choiceId)" class="options bg-success flex-row-center">
                                                                <div class="col-lg-9 col-sm-8 col-xs-8">
                                                                    <label>
                                                                        <li class="option-number-view-exam-details">@optionVal.</li>
                                                                        @Html.Raw(@item2.choiceText)
                                                                    </label>
                                                                </div>
                                                                @{optionVal = Convert.ToChar(optionVal + 1);}

                                                                <div class="col-lg-3 col-sm-4 col-xs-4 text-left">
                                                                    @foreach (var details in @item.PeerDetails)
                                                                    {
                                                                        if (@item2.choiceId == @details.ChoiceId)
                                                                        {
                                                                            <span class="padleft20 hidden-xs">@details.ChoicePercentage%</span>
                                                                            <span id="ReportscorrectAns">Correct Answer</span>
                                                                        }
                                                                    }

                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        }
                                                        else if (Convert.ToInt32(@item.examAttemptAnswerDTO.ChoiceId) == Convert.ToInt32(@item2.choiceId))
                                                        {
                                                            <div id="choiceText@(@item2.choiceId)" class="options bg-danger flex-row-center">
                                                                <div class="col-lg-9 col-sm-8 col-xs-8">
                                                                    <label>
                                                                        <li class="option-number-view-exam-details">@optionVal.</li>
                                                                        @Html.Raw(@item2.choiceText)
                                                                    </label>
                                                                </div>
                                                                @{optionVal = Convert.ToChar(optionVal + 1);}

                                                                <div class="col-lg-3 col-sm-4 col-xs-4 text-left">
                                                                    @foreach (var details in @item.PeerDetails)
                                                                    {
                                                                        if (@item2.choiceId == @details.ChoiceId)
                                                                        {
                                                                            <span class="padleft20 hidden-xs">@details.ChoicePercentage%</span>


                                                                            if (Convert.ToInt32(@item.examAttemptAnswerDTO.ChoiceId) == Convert.ToInt32(@item2.choiceId))
                                                                            {
                                                                                <span id="ReportwrongAns">Your Answer</span>
                                                                            }


                                                                        }
                                                                    }

                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div id="choiceText@(@item2.choiceId)" class="options">
                                                                <div class="col-lg-9 col-sm-8 col-xs-8">
                                                                    <label>
                                                                        <li class="option-number-view-exam-details">@optionVal.</li>
                                                                        @Html.Raw(@item2.choiceText)
                                                                    </label>
                                                                </div>
                                                                @{optionVal = Convert.ToChar(optionVal + 1);}

                                                                <div class="col-lg-3 col-sm-4 col-xs-4 text-left">
                                                                    @foreach (var details in @item.PeerDetails)
                                                                    {
                                                                        if (@item2.choiceId == @details.ChoiceId)
                                                                        {
                                                                            <span class="padleft20 hidden-xs">@details.ChoicePercentage%</span>


                                                                            if (Convert.ToInt32(@item.rightChoiceId) == Convert.ToInt32(@item2.choiceId) && Convert.ToInt32(@item.examAttemptAnswerDTO.ChoiceId) > 0)
                                                                            {
                                                                                <span id="ReportscorrectAns">Correct Answer</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                if (Convert.ToInt32(@item.examAttemptAnswerDTO.ChoiceId) == Convert.ToInt32(@item2.choiceId))
                                                                                {
                                                                                    <span id="ReportwrongAns">Your Answer</span>
                                                                                }

                                                                            }
                                                                        }
                                                                    }

                                                                </div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        }
                                                    }

                                                </div>

                                                <hr>
                                                <div>
                                                    <h5>Explanation & Notes</h5>
                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-tabs responsive-tabs" role="tablist">
                                                        <li role="presentation" class="active"><a href="#@(item.questionId + "discussion")" aria-controls="@(item.questionId + "discussion")" role="tab" data-toggle="tab">Discussion</a></li>
                                                        <li role="presentation"><a href="#@(item.questionId + "bcsc")" aria-controls="bcsc-excerpt" role="tab" data-toggle="tab">BCSC Excerpt</a></li>
                                                        <li role="presentation"><a href="#@(item.questionId + "references")" aria-controls="references" role="tab" data-toggle="tab">References</a></li>
                                                        <li role="presentation" id="@("relatedContents"+@item.questionId)"><a href="#@(item.questionId + "relatedContents")" aria-controls="relatedContents" role="tab" data-toggle="tab">Related Content</a></li>
                                                        <li role="presentation"><a href="#@(item.questionId + "notes")" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
                                                    </ul>

                                                    <!-- Tab panes -->
                                                    <div class="tab-content">

                                                        <div role="tabpanel" class="tab-pane active padtop20" id="@(item.questionId + "discussion")">
                                                            <div id="discussion">
                                                                <div class="col-lg-12">
                                                                    <p>@Html.Raw(@item.questionDiscussion.discussionText)</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div role="tabpanel" class="tab-pane padtop20" id="@(item.questionId + "bcsc")">
                                                            <div id="bcsc_excerpt">
                                                                <div class="col-lg-12">
                                                                    @*@foreach (var BCSCExcerpt in item.BCSCExcerpt)
                                                                        {
                                                                              @Html.Raw(HttpUtility.UrlDecode(@BCSCExcerpt))
                                                                        }*@
                                                                    <div class="panel-group" id="accordion2">
                                                                        @foreach (var excerptHeading in @item.ExcerptHeadings)
                                                                        {
                                                                            <div class="panel panel-default notes-panel" excerptid="@(excerptHeading.HeadingId+"-"+item.questionId)">
                                                                                <div class="panel-heading notes-panel-bg" role="tab">
                                                                                    <div class="panel-title view-title clearfix">
                                                                                        <a role="button" data-toggle="collapse" class="accordian-tab notes-accordian-tab" data-parent="#accordion2" href="#@(excerptHeading.HeadingId+"-"+item.questionId + "collapseOne")" aria-expanded="true" aria-controls="@(excerptHeading.HeadingId+"-"+item.questionId+ "collapseOne")" excerptid="@(excerptHeading.HeadingId+"-"+item.questionId)">
                                                                                            <div id="@("quesText"+excerptHeading.HeadingId+"-"+item.questionId)" class="question xs-padleft50 font-bold">
                                                                                                <div id="quesTextDiv@(excerptHeading.HeadingId+"-"+item.questionId)">
                                                                                                    @Html.Raw(excerptHeading.HeadingText)
                                                                                                    <li class="question-number-view-exam-details_Excerpt" style="list-style-type:none;margin-top:-20px;">
                                                                                                        <i class="fa fa-lg fa-angle-right expand"> <span class="expand">expand</span></i>
                                                                                                    </li>
                                                                                                </div>
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div id="@(excerptHeading.HeadingId+"-"+item.questionId + "collapseOne")" class="panel-collapse collapse" aria-labelledby="@(excerptHeading.HeadingId+"-"+item.questionId + "headingOne")" aria-expanded="false" excerptid="@(excerptHeading.HeadingId+"-"+item.questionId)">
                                                                                <div class="panel-body">
                                                                                    <div class="accordion nested-accordion" id="@(excerptHeading.HeadingId+"-"+item.questionId + "accordion")">
                                                                                        <div class="accordion-group">
                                                                                            <div class="accordion-heading">
                                                                                                <div id="@(excerptHeading.HeadingId+"-"+item.questionId +"ContainerDiv")">
                                                                                                    @Html.Raw(excerptHeading.Excerpts)
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div role="tabpanel" class="tab-pane padtop20" id="@(item.questionId + "references")">
                                                            <div id="references">
                                                                <div class="col-lg-12">
                                                                    @foreach (var reference in @item.references)
                                                                    {
                                                                        <p>@Html.Raw(@reference)</p>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div role="tabpanel" class="tab-pane padtop20" id="@(item.questionId + "relatedContents")">
                                                            <div id="@("relatedContents"+ @item.questionId)">
                                                                <div class="col-lg-12">
                                                                    @if (item != null && item.RelatedContents != null && item.RelatedContents.Count > 0)
                                                                    {
                                                                        foreach (var relatedContent in @item.RelatedContents)
                                                                        {
                                                                            <p>@Html.Raw(@relatedContent)</p>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <style>
                                                                                #@("relatedContents"+@item.questionId)
                                                                                {
                                                                                    display: none;
                                                                                }
                                                                        </style>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div role="tabpanel" class="tab-pane padtop20" id="@(item.questionId + "notes")">
                                                            <div id="notes">
                                                                <div class="col-lg-12">
                                                                    @foreach (string notes in @item.notes)
                                                                    {
                                                                        <p>@Html.Raw(@notes)</p>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--  End Of Accordian -->
                                }
                            }

                        </div>
                    </div>
                }
                else
                {
                    <div>No records found.</div>
                }
            </div>
            <div class="text-center">
                <nav id="PageNavigation" aria-label="Page navigation example">
                    <ul class="pagination margin0">
                        <li id="Previouspage"><a class="page-link" href="#">Prev</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>

<!-----Image model--->
<div id="myModal" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>

            <div class="modal-body">
                <img class="img-responsive" style="margin:0 auto;" src="" alt="" id="showimg">
            </div>
        </div>
    </div>
</div>
<!---End of Image Model---->

<input type="hidden" name="FilterId" id="FilterId" value="@ViewBag.Filter" />

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.bootstrap-responsive-tabs.js"></script>
<script src="@Url.Content("~/Scripts/IncorrectAdminReport/IncorrectAdminReport.js")" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('div._idGenObjectStyleOverride-1 img').addClass('thumbnail');
        $('img[class^="_idGenObjectAttribute"]').addClass('thumbnail');

        // Append zoom icon to each thumbnail in divs with id starting with "_idContainer"
        $('div._idGenObjectStyleOverride-1 .thumbnail').each(function () {
            $(this).after('<div class="zoom_icon"><i class="glyphicon glyphicon-zoom-in text-right"></i></div>');
        });

        $('img[class^="_idGenObjectAttribute"].thumbnail').each(function () {
            var zoomIconDiv = $('<div class="zoom_icon"><i class="glyphicon glyphicon-zoom-in text-right"></i></div>');
            $(this).after(zoomIconDiv);
        });

        // Event listener for all divs with id starting with "_idContainer"
        $('div._idGenObjectStyleOverride-1').on('click', function () {
            var imgElement = $(this).find('img');
            var lowResImage = imgElement.attr('src');
            var highResImage = appendSuffix(lowResImage, '_O');
            showModal(highResImage);
        });

        $('img[class^="_idGenObjectAttribute"]').on('click', function (event) {
            var lowResImage = $(this).attr('src');
            var highResImage = appendSuffix(lowResImage, '_O');
            showModal(highResImage);
            event.stopPropagation();
        });


        // Event listener for all zoom icons
        $('.zoom-icon').on('click', function (event) {
            var lowResImage = $(this).prev().attr('src');
            var highResImage = appendSuffix(lowResImage, '_O');
            showModal(highResImage);
            event.stopPropagation(); // Prevent triggering the thumbnail click event
        });

        // Function to append "_O" before the file extension
        function appendSuffix(imageSrc, suffix) {
            return imageSrc.replace(/(\.jpg|\.png|\.tif|\.tiff)$/, suffix + '$1');
        }

        // Function to show the modal with the high-resolution image
        function showModal(imageSrc) {
            $('#showimg').attr('src', imageSrc);
            $('#myModal').modal('show');
        }
    });
</script>

<script>
   var IncorrectDetails = {
        Filterval : '@ViewBag.Filter',
        QuestViewVal: '@ViewBag.NoOfRecords',
        firstQuestPerPage: '@ViewBag.FirstSerialNum',
        lastQuestPerPage: '@ViewBag.LastSerialNum',
        @*QuestViewValue : '@ViewBag.viewCurrentRecordcount',*@
        PageNoVal: '@ViewBag.PageNo',
        QuestionCount: '@ViewBag.incorrectQuestiondetailscount',
        SubSpecialityId: '@ViewBag.SubSpecialityId',
        RecordCount: '@ViewBag.RecordCount ',
        Year: '@ViewBag.year',
        ExamStartDate: '@ViewBag.ExamStartDate',
        ExamCompletedDate: '@ViewBag.ExamCompletedDate',
    };

    $(document).ready(function () {
        //Image Enlarge
        /****************************************/
        $(".img11").off('click');
        $(".img11").on('click', function () {
            var img = $(this).attr('src'); // get image
            $('#showimg').empty();
            $('#showimg').attr('src', img); //load image in modal
        });
        /*****************************************************/
        $(".myDIV").off('click');
        $(".myDIV").on('click', function () {
            var imgSrc = $(this).parent().find("img").attr("src");
            $('#showimg').empty();
            $('#showimg').attr('src', imgSrc); //load image in modal

        })

        $("#myModal").draggable({
            handle: ".modal-header"
        });
    });

</script>

<style>

    /* 6Nov2024 - CSS adding Start */
    span.sidebar_blue {
        color: #6b9bd2;
        font-family: "Univers LT Std 67 Bold Condensed", sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    span.box-text_superscript {
        font-family: "Minion Pro", serif;
        font-style: normal;
        font-weight: normal;
        vertical-align: super;
    }
    span.bul1 {
        @*font-family: "ITC Zapf Dingbats Std Medium", sans-serif;*@
        font-size: 8px;
        @*font-style: normal;
        font-weight: normal;*@
    }
    span.sidebar2-head {
        color: #6b9bd2;
        font-family: "Univers LT Std 67 Bold Condensed", sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    span.ClinicalTrial_heading {
        color: white;
        background-color: #6b9bd2;
        padding: 2px;
    }
    span.sb-h2 {
        color: #6b9bd2;
        font-family: "Univers LT Std 65 Bold", sans-serif;
        font-size: 9px;
        font-style: normal;
        font-weight: normal;
    }
    span.bullet-list-last_italic {
        font-family: "Minion Pro", serif;
        font-style: italic;
        font-weight: normal;
    }
    span.table-body_symbol_underline-text {
        font-family: "Symbol Std Medium", sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
    }
    p.numbered-list-CustomCSS {
        color: #000000;
        font-family: "Minion Pro", serif;
        @*font-size: 11px;*@
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1.238;
        margin-bottom: 0;
        margin-left: 31px;
        margin-right: 0;
        margin-top: 7px;
        orphans: 2;
        page-break-after: auto;
        page-break-before: auto;
        text-align: justify;
        text-align-last: left;
        text-decoration: none;
        text-indent: -13px;
        text-transform: none;
        widows: 2;
    }
    p.numbered-list-CustomCSS1 {
        color: #000000;
        font-family: "Minion Pro", serif;
        @*font-size: 11px;*@
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1.238;
        margin-bottom: 0;
        margin-left: 31px;
        margin-right: 0;
        margin-top: 7px;
        orphans: 2;
        page-break-after: auto;
        page-break-before: auto;
        text-align: justify;
        text-align-last: left;
        text-decoration: none;
        text-indent: -13px;
        text-transform: none;
        widows: 2;
    }
    /* 6Nov2024 - CSS adding End */

    /* 14Oct2024 - CSS adding Start */
    p.sidebar-h1 {
        -epub-hyphens: none;
        color: #6b9bd2;
        font-family: "Univers LT Std 65 Bold", sans-serif;
        font-size: 10px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1.316;
        margin-bottom: 3px;
        margin-left: 24px;
        margin-right: 21px;
        margin-top: 0;
        orphans: 2;
        page-break-after: auto;
        page-break-before: auto;
        text-align: justify;
        text-align-last: left;
        text-decoration: none;
        text-indent: 0;
        text-transform: none;
        widows: 2;
    }

    p.sidebar-title_1 {
        -epub-hyphens: none;
        /*color: #ffffff;*/
        color: #6b9bd2;
        font-family: "Univers LT Std 57 Condensed", sans-serif;
        font-size: 11px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1.273;
        margin-bottom: 8px;
        /*margin-left: 28px;*/
        margin-right: 0;
        margin-top: 20px;
        orphans: 2;
        page-break-after: avoid;
        page-break-before: auto;
        text-align: justify;
        text-align-last: left;
        text-decoration: none;
        text-indent: 0;
        text-transform: uppercase;
        widows: 2;
    }

    p.checklist-number-list {
        color: #000000;
        font-family: "Univers LT Std 55 Roman", sans-serif;
        font-size: 10px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1.316;
        margin-bottom: 0;
        margin-left: 55px;
        margin-right: 24px;
        margin-top: 0;
        orphans: 2;
        page-break-after: auto;
        page-break-before: auto;
        text-align: justify;
        text-align-last: left;
        text-decoration: none;
        text-indent: -12px;
        text-transform: none;
        widows: 2;
    }

    p.checklist-number-sub-list {
        color: #000000;
        font-family: "Univers LT Std 55 Roman", sans-serif;
        font-size: 10px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1.316;
        margin-bottom: 0;
        margin-left: 67px;
        margin-right: 21px;
        margin-top: 0;
        orphans: 2;
        page-break-after: auto;
        page-break-before: auto;
        text-align: justify;
        text-align-last: left;
        text-decoration: none;
        text-indent: -12px;
        text-transform: none;
        widows: 2;
    }

    p.box-text-head {
        color: #6b9bd2;
        margin-bottom: 0;
        margin-top: 23px;
        /*font-family: "Univers LT Std 65 Bold", sans-serif;
        font-size: 11px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1.045;
        margin-bottom: 0;
        margin-left: 9px;
        margin-right: 0;
        margin-top: 23px;
        orphans: 2;
        page-break-after: auto;
        page-break-before: auto;
        text-align: justify;
        text-align-last: left;
        text-decoration: none;
        text-indent: 0;
        text-transform: none;
        widows: 2;*/
    }

    span.box-text--no-indent-_italic {
        font-style: oblique;
        font-weight: normal;
    }

    span.QR-code-number {
        color: #6b9bd2;
        font-family: "Univers LT Std 65 Bold", sans-serif;
        /*font-size: 9px;*/
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-transform: uppercase;
    }

    span.keypoint_underline {
        text-decoration: underline;
    }

    p.ParaOverride-22 {
        background-color: #f4f6fb;
        margin-left: 10px;
        margin-top: 25px;
    }

    p.checklist-number-sub-sub-list {
        color: #000000;
        font-family: "Univers LT Std 55 Roman", sans-serif;
        font-size: 10px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1.316;
        margin-bottom: 0;
        margin-left: 79px;
        margin-right: 21px;
        margin-top: 0;
        orphans: 2;
        page-break-after: auto;
        page-break-before: auto;
        text-align: justify;
        text-align-last: left;
        text-decoration: none;
        text-indent: -12px;
        text-transform: none;
        widows: 2;
    }

    span.table-body_italic {
        @*font-family: "Univers LT Std 55 Oblique", sans-serif;
        font-style: normal;
        font-weight: normal; /*@
        font-style: italic;
    }
	span.table-footnote_italic {
        font-style: italic;
    }
	span.sidebar-text_bold {
        color: #6b9bd2;
        font-family: "Univers LT Std 67 Bold Condensed", sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    /* 14Oct2024 - CSS adding End */

    img.thumbnail {
        border: 1px solid #ddd !important;
        cursor: pointer;
    }

    .zoom_icon {
        background-color: #f2f2f2;
        padding: 5px;
        position: absolute;
        margin-left: 182px;
        margin-top: -54px;
        cursor: pointer;
    }

    #bcsc-excerpt li {
        padding-left: 0px !important;
        list-style:none;
    }
    .bcsc-excerpt-custom-content{
        padding-left: 0px;
        background-color: sandybrown;
    }
    .bcsc-excerpt-custom-ul{
        padding-left:4px;
    }
        .bcsc-excerpt-custom-ul li{
            padding-left:0px;
            list-style-type: none;
        }
@*    img {
        width: 100%;
    }*@

    p {
        margin: 0 0 0px !important;
    }

        p.h2 {
            -epub-hyphens: none;
            color: #000000;
            /*font-family:"Univers LT Std 67 Bold Condensed", sans-serif;*/
            font-size: 14px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            line-height: 2.100;
            margin-bottom: 3px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 13px;
            orphans: 99;
            page-break-after: avoid;
            page-break-before: auto;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 1;
        }

        p.h2-h1 {
            -epub-hyphens: none;
            color: #000000;
            /*font-family:"Univers LT Std 67 Bold Condensed", sans-serif;*/
            font-size: 14px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            line-height: 2.100;
            margin-bottom: 3px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 5px;
            orphans: 99;
            page-break-after: avoid;
            page-break-before: auto;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 1;
        }

        p.fm-only_fm-h2 {
            -epub-hyphens: none;
            color: #000000;
            /*font-family:"Univers 67 Bold Condensed", sans-serif;*/
            font-size: 14px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            line-height: 1.364;
            margin-bottom: 3px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 8px;
            orphans: 1;
            page-break-after: avoid;
            page-break-before: auto;
            text-align: justify;
            text-align-last: left;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 1;
        }

        p.h3 {
            -epub-hyphens: none;
            color: #000000;
            /*font-family:"Univers LT Std 67 Bold Condensed Oblique", sans-serif;*/
            font-size: 14px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            line-height: 2.100;
            margin-bottom: 1px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 10px;
            orphans: 99;
            page-break-after: avoid;
            page-break-before: auto;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 1;
        }

        p.h3-h2 {
            -epub-hyphens: none;
            color: #000000;
            /*font-family:"Univers LT Std 67 Bold Condensed Oblique", sans-serif;*/
            font-size: 14px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            line-height: 2.100;
            margin-bottom: 1px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 6px;
            orphans: 99;
            page-break-after: avoid;
            page-break-before: auto;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 1;
        }

        p.h4-text {
            color: #000000;
            /*font-family:"Minion Pro", serif;*/
            font-size: 14px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 1.42857143;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: 8px;
            orphans: 2;
            page-break-after: auto;
            page-break-before: auto;
            text-align: justify;
            text-align-last: left;
            text-decoration: none;
            text-indent: 0;
            text-transform: none;
            widows: 2;
        }

    span.h4-head {
        /*font-family:"Univers LT Std 67 Bold Condensed", sans-serif;*/
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
    }

    span.h4-head_greek {
        /*font-family:"Times NR Dual Greek MT Bold", sans-serif;*/
        font-style: normal;
        font-weight: normal;
    }

    span.h4-text_accent {
        font-style: normal;
        font-weight: normal;
    }

    span.h4-head_subscript {
        /*font-family:"Univers LT Std 67 Bold Condensed", sans-serif;*/
        font-style: normal;
        font-weight: normal;
        vertical-align: sub;
    }

    span.h4-text_italic {
        font-style: italic;
        font-weight: normal;
    }

    span.italic {
        font-style: italic;
        font-weight: normal;
    }

    p.ParaOverride-1 {
        margin-top: 0px;
    }

    li.ParaOverride-2 {
        margin-top: 0px;
        text-indent: 0px;
    }

    li.ParaOverride-3 {
        margin-bottom: 0px;
        text-indent: 0px;
    }

    p.ParaOverride-4 {
        margin-top: 9px;
    }

    p.ParaOverride-5 {
        margin-top: 11px;
    }

    li.ParaOverride-6 {
        margin-top: 7px;
        text-indent: 0px;
    }

    p.ParaOverride-7 {
        margin-bottom: 0px;
    }

    p.ParaOverride-8 {
        margin-top: 15px;
    }

    p.ParaOverride-9 {
        margin-top: 8px;
    }

    p.ParaOverride-10 {
        margin-top: 14px;
    }

    p.ParaOverride-11 {
        margin-top: 13px;
    }

    p.ParaOverride-12 {
        margin-top: 10px;
    }

    p.ParaOverride-13 {
        margin-top: 7px;
    }

    li.ParaOverride-14 {
        margin-top: 6px;
        text-indent: 0px;
    }

    li.ParaOverride-15 {
        margin-bottom: 6px;
        text-indent: 0px;
    }

    li.ParaOverride-16 {
        margin-bottom: 11px;
        text-indent: 0px;
    }

    li.ParaOverride-17 {
        margin-top: 11px;
        text-indent: 0px;
    }

    p.ParaOverride-18 {
        margin-left: 0px;
        text-indent: 0px;
    }

    .question-number-view-exam-details {
        margin-left: -50px !important;
    }

    .question-number-view-exam-details_Excerpt {
        margin-left: 0px !important;
    }
    .expand{
        font-size:14px;
        font-weight:bold;
        color:#337ab7;
    }
    @@media only screen and (max-width: 1200px) {
        #excerpt_thumbnail_image {
            display: block;
            overflow: hidden;
        }
    }
</style>